In [1]:
import pandas as pd
from pathlib import Path
import seaborn as sns 
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
/Users/mark/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
file = "melb_data.csv"

In [3]:
df_train = pd.read_csv(file)
df_train.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
df_train.shape

(13580, 21)

In [5]:
df_train["Date"] = pd.to_datetime(df_train["Date"])
print (df_train.dtypes)

Suburb                   object
Address                  object
Rooms                     int64
Type                     object
Price                   float64
Method                   object
SellerG                  object
Date             datetime64[ns]
Distance                float64
Postcode                float64
Bedroom2                float64
Bathroom                float64
Car                     float64
Landsize                float64
BuildingArea            float64
YearBuilt               float64
CouncilArea              object
Lattitude               float64
Longtitude              float64
Regionname               object
Propertycount           float64
dtype: object

In [6]:
df_train.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [7]:
naN_features = [features for features in df_train.columns if df_train[features].isnull().sum()>1]
for feature in naN_features:
    print(feature,'\t\t', np.round(df_train[feature].isnull().mean(),3), '%')

Car 		 0.005 %
BuildingArea 		 0.475 %
YearBuilt 		 0.396 %
CouncilArea 		 0.101 %

In [8]:
df_train = df_train.dropna(axis=0)

In [9]:
df_train.shape

(6196, 21)

In [12]:
part_80 = df_train.sample(frac = 0.8)
 
# Creating dataframe with
# rest of the 50% values
rest_part_20 = df_train.drop(part_80.index)
 
print("\n80% of the given DataFrame:")
print(part_80)
 
print("\nrest 20% of the given DataFrame:")
print(rest_part_20)

80% of the given DataFrame:
               Suburb            Address  Rooms Type      Price Method  \
11150          Ormond  22/30 Lillimur Rd      1    u   370000.0      S
6363           Toorak  7a Woorigoleen Rd      3    t  2650000.0     VB
6487     Williamstown      54 Twyford St      3    h  1535000.0      S
9064   Brunswick East      271 Edward St      2    h  1105000.0      S
10908       Bentleigh     15A Windsor Av      4    t  1750000.0      S
...               ...                ...    ...  ...        ...    ...
6803   Brunswick East    120 Victoria St      3    h  1325000.0     PI
3441      Keilor East      1 Giuliano Ct      3    h   700000.0     VB
7286           Albion       25 Sydney St      4    h   816000.0      S
8265          Preston     31 Benambra St      3    h   800000.0     PI
1962           Coburg   11/5 Industry La      2    u   485000.0     VB

             SellerG       Date  Distance  Postcode  ...  Bathroom  Car  \
11150       Woodards 2017-12-08      11.4    3204.0  ...       1.0  1.0
6363          Jellis 2016-10-09       4.6    3142.0  ...       3.0  2.0
6487            Greg 2016-03-09       8.0    3016.0  ...       1.0  1.0
9064          Nelson 2017-03-06       4.0    3057.0  ...       1.0  2.0
10908         Buxton 2017-12-08      11.4    3204.0  ...       3.0  2.0
...              ...        ...       ...       ...  ...       ...  ...
6803          Jellis 2016-11-27       4.5    3057.0  ...       2.0  2.0
3441          Nelson 2017-04-03      12.8    3033.0  ...       2.0  2.0
7286           Bells 2016-10-09      13.9    3020.0  ...       1.0  2.0
8265   hockingstuart 2017-05-13       8.8    3072.0  ...       2.0  2.0
1962          Nelson 2016-04-16       7.8    3058.0  ...       2.0  1.0

       Landsize  BuildingArea  YearBuilt    CouncilArea Lattitude  Longtitude  \
11150    2029.0          54.0     2009.0      Glen Eira -37.90143   145.04184
6363        0.0         291.0     2000.0    Stonnington -37.84280   145.01710
6487      507.0         186.0     1910.0    Hobsons Bay -37.86810   144.89940
9064      173.0          79.0     1890.0       Moreland -37.77524   144.97529
10908     429.0         262.0     2013.0      Glen Eira -37.91582   145.04800
...         ...           ...        ...            ...       ...         ...
6803      190.0         135.0     1940.0       Moreland -37.76840   144.97390
3441      288.0         116.0     1999.0  Moonee Valley -37.75140   144.87310
7286      837.0         156.0     1930.0       Brimbank -37.78250   144.82210
8265      319.0         124.0     1940.0        Darebin -37.73340   144.98730
1962        0.0          96.0     1880.0       Moreland -37.73670   144.97010

                  Regionname Propertycount
11150  Southern Metropolitan        3578.0
6363   Southern Metropolitan        7217.0
6487    Western Metropolitan        6380.0
9064   Northern Metropolitan        5533.0
10908  Southern Metropolitan        6795.0
...                      ...           ...
6803   Northern Metropolitan        5533.0
3441    Western Metropolitan        5629.0
7286    Western Metropolitan        2185.0
8265   Northern Metropolitan       14577.0
1962   Northern Metropolitan       11204.0

[4957 rows x 21 columns]

rest 20% of the given DataFrame:
                  Suburb            Address  Rooms Type      Price Method  \
1             Abbotsford    25 Bloomburg St      2    h  1035000.0      S
25            Abbotsford         49 Park St      2    h  1315000.0      S
44          Airport West   2/49 McIntosh St      2    u   500000.0     VB
52          Airport West        13 Etzel St      3    h   805000.0      S
61          Airport West     138 Victory Rd      3    h  1042000.0      S
...                  ...                ...    ...  ...        ...    ...
12181  Templestowe Lower    13 Melaleuca Av      6    h  2000000.0     VB
12183         Thomastown     2/1 Charles St      2    u   407000.0      S
12187        Tullamarine   1/171 Melrose Dr      3    h   615500.0      S
12199           Werribee  13b Kingfisher Ct      3    u   394000.0     PI
12212         Yarraville    54 Pentland Pde      6    h  2450000.0     VB

             SellerG       Date  Distance  Postcode  ...  Bathroom  Car  \
1             Biggin 2016-04-02       2.5    3067.0  ...       1.0  0.0
25          Marshall 2016-11-19       2.5    3067.0  ...       1.0  0.0
44             Barry 2017-04-03      13.5    3042.0  ...       1.0  1.0
52            Nelson 2016-10-12      13.5    3042.0  ...       1.0  1.0
61            Nelson 2016-07-16      13.5    3042.0  ...       2.0  5.0
...              ...        ...       ...       ...  ...       ...  ...
12181          Barry 2017-07-29      12.4    3107.0  ...       3.0  2.0
12183            HAR 2017-07-29      15.3    3074.0  ...       1.0  1.0
12187  hockingstuart 2017-07-29      12.9    3043.0  ...       2.0  1.0
12199  hockingstuart 2017-07-29      14.7    3030.0  ...       2.0  4.0
12212        Village 2017-07-29       6.3    3013.0  ...       3.0  2.0

       Landsize  BuildingArea  YearBuilt    CouncilArea Lattitude  Longtitude  \
1         156.0          79.0     1900.0          Yarra -37.80790   144.99340
25        147.0          85.0     1900.0          Yarra -37.80800   144.99400
44        168.0          86.0     2011.0  Moonee Valley -37.72150   144.88640
52          0.0         105.0     1950.0  Moonee Valley -37.72170   144.87830
61        612.0         174.0     1950.0  Moonee Valley -37.71730   144.87960
...         ...           ...        ...            ...       ...         ...
12181    1054.0         235.0     1970.0     Manningham -37.77404   145.11703
12183     140.0          78.0     2010.0     Whittlesea -37.68199   145.01744
12187     238.0         118.0     2011.0           Hume -37.70322   144.88236
12199     287.0         137.0     2013.0        Wyndham -37.87895   144.67070
12212    1087.0         388.5     1920.0    Maribyrnong -37.81038   144.89389

                  Regionname Propertycount
1      Northern Metropolitan        4019.0
25     Northern Metropolitan        4019.0
44      Western Metropolitan        3464.0
52      Western Metropolitan        3464.0
61      Western Metropolitan        3464.0
...                      ...           ...
12181   Eastern Metropolitan        5420.0
12183  Northern Metropolitan        7955.0
12187   Western Metropolitan        3296.0
12199   Western Metropolitan       16166.0
12212   Western Metropolitan        6543.0

[1239 rows x 21 columns]

In [13]:
train_df = pd.DataFrame(part_80)

In [17]:
test_df = pd.DataFrame(rest_part_20)

In [18]:
train_df.to_csv('Resources/train_df.csv')  
test_df.to_csv('Resources/test_df.csv')